@model ServiceViewModel
@inject TTCNTT.Efs.Context.WebTTCNTTContext context
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewBag.Title = Model.setting.SERVICE;
}

@{
    var bannerModel = await TTCNTT.Helpers.SettingValueHelper.GetValueSetting(context);
    <partial name="_BannerPartial" model="bannerModel" />
}


<section class="blog-outer-area">
    <div class="content-area">
        <div class="blog-area-sec">
            <!-- Start: Blog Sec -->
            <div class="container">
                <div class="col-md-12">
                    <div class="main-title">
                        <h5>@Model.setting.SERVICE</h5>
                        <h2>@Model.setting.SERVICE_SLOGAN_2</h2>
                    </div>
                </div>
            </div>

            <div class="blog-sec">
                <div class="container">
                    <!-- Start:Blog Area -->
                    <div class="blog-main-area">
                        <!-- Start:Blog Items (With Mini Grid) -->
                        <div class="mini-grid-area">
                            @foreach (var item in ViewBag.OnePageOfServices)
                            {
                                <div class="col-md-4 ">
                                    <div class="item-box">
                                        <a href="~/dich-vu/chi-tiet/@item.Slug_Name" class=" img-holder">
                                            <img src="~/Image/@item.ImageSlug" alt="">
                                            <div class="mask"></div>
                                        </a>
                                        <div class="info-text-holder">
                                            <h6><a href="~/dich-vu/chi-tiet/@item.Slug_Name">@item.ServiceName.</a></h6>
                                            <span><a href="~/dich-vu/chi-tiet/@item.Slug_Name">@item.CreatedDate</a></span>
                                            <p>@item.ShortDescription_Html. </p>
                                            <a href="~/dich-vu/chi-tiet/@item.Slug_Name" class="button-medium">XEM THÊM</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- End:Blog Items (With Mini Grid) -->
                        <!-- Start:Pagination -->
                        <div class="pagination-area">
                            <ul class="pagination">

                                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfServices, page => Url.Action("Index", "dich-vu", new { page }))

                            </ul>
                        </div>
                        <!-- End:Pagination -->

                    </div>
                    <!-- End:Blog Area -->
                </div>
            </div>
            <!-- End: Blog Sec -->

        </div>
    </div>
</section>