@model ServiceViewModel
@inject TTCNTT.Efs.Context.WebTTCNTTContext context

@{
    ViewBag.Title = Model.service.ServiceName;
}

<section class="banner-sec">
    <div class="main-banner inner" style=" background:url(/Image/@Model.setting.IMAGESLIDE) no-repeat top center fixed;">
        <a href="#" name="scroll-top-div"></a>
        <div class="overlay-mask">
            <!-- Start:Slider area -->
            <div class="container">
                <h1>@Model.setting.SERVICE</h1>
                <h6>@Model.setting.SERVICE_SLOGAN</h6>
                <hr>
            </div>
            <!-- End:Slider area -->
        </div>
    </div>
</section>

<section class="blog-outer-area">
    <div class="content-area">
        <div class="blog-area-sec">
            <!-- Start: Blog Sec -->
            <div class="blog-sec">
                <div class="container">
                    <!-- Start:Blog Area -->
                    <div class="blog-inner-area">
                        <!-- Start:Blog Left Content-->
                        <div class="col-md-8 left">
                            <div class="item-box">
                                <div class=" img-holder">
                                    <img src="~/Image/@Model.service.ImageSlug" alt="">
                                </div>
                                <div class="info-text-holder">
                                    <h4>@Model.service.ServiceName.</h4>
                                    <span> <a href="#">@Model.service.CreatedDate</a></span>
                                    <p>
                                        @Model.service.LongDescription_Html.
                                    <p>

                                        <ul class="social-icon-simple">
                                            <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End:Blog Left Content-->
                        <!-- Start:Blog Right Content-->
                        <div class="col-md-4 ">
                            <div class="right">
                                <form asp-controller="dich-vu" asp-action="ServiceSearch" method="post">
                                    <input id="btn-search-event" type="text" name="search" class="search-btn" placeholder="Tìm kiếm">
                                </form>

                                <!-- End:category-box-->
                                <!-- Start:Recent Posts-->
                                <h5>Dịch vụ khác</h5>
                                <ul class="recent-post">
                                    @foreach (var item in Model.listService.Take(5))
                                    {
                                        <li>
                                            <div class="row">
                                                <a href="~/dich-vu/chi-tiet/@item.Slug_Name">
                                                    <div class="col-md-5">
                                                        <img src="~/Image/@item.ImageSlug" alt="@item.ServiceName">
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="text">
                                                            <p class="news-related-title">@item.ServiceName</p>
                                                            @if (@item.ShortDescription_Html.Length >= 85)
                                                            {
                                                                <p>@item.ShortDescription_Html.Substring(0, 85)...</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.ShortDescription_Html...</p>

                                                            }
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    }

                                </ul>
                                <!-- End:Recent Posts-->
                                <!-- Star:flikr-img-->
                                @*<h5>Flickr</h5>
                                    <ul class="flikr-img-list">
                                        <li><img src="img/flikr-1.jpg" alt=""></li>
                                        <li><img src="img/flikr-2.jpg" alt=""></li>
                                        <li><img src="img/flikr-3.jpg" alt=""></li>
                                        <li> <img src="img/flikr-4.jpg" alt=""></li>
                                        <li><img src="img/flikr-5.jpg" alt=""></li>
                                        <li><img src="img/flikr-6.jpg" alt=""></li>
                                        <li><img src="img/flikr-7.jpg" alt=""></li>
                                        <li><img src="img/flikr-8.jpg" alt=""></li>
                                    </ul>*@
                                <!-- End:flikr-img-->
                                <!-- Start:tags-->
                                @*<h5>Tags</h5>
                                    <div class="tags">
                                        <a href="#"><span>HTML</span></a>
                                        <a href="#"><span>Finearts</span></a>
                                        <a href="#"><span>PHP</span></a>
                                        <a href="#"><span>Java Script</span></a>
                                        <a href="#"><span>Articles</span></a>
                                        <a href="#"><span>CSS</span></a>
                                        <a href="#"><span>Economics</span></a>
                                        <a href="#"><span>JQuery</span></a>
                                        <a href="#"><span>Edithing</span></a>
                                        <a href="#"><span>Painting</span></a>
                                    </div>*@
                                <!-- End:tags-->
                            </div>
                        </div>
                        <!-- End:Blog Right Content-->
                    </div>
                    <!-- End:Blog Area -->
                </div>
            </div>
            <!-- End: Blog Sec -->
        </div>
    </div>
</section>
<!-- =================================================
Content Area End -->

@section scripts{
    <script>
        var _urlServiceSearch = '@Url.Action("ServiceSearch", "dich-vu")';
    </script>

    <script src="~/js/ServiceSearch.js"></script>
}