@model NewsViewModel
@inject TTCNTT.Efs.Context.WebTTCNTTContext context
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewBag.Title = Model.newsType.Name;
}

@{
    var bannerModel = await TTCNTT.Helpers.SettingValueHelper.GetValueSetting(context);
    <partial name="_BannerPartial" model="bannerModel" />
}

<section class="blog-outer-area">
    <div class="content-area">
        <div class="blog-area-sec">
            <!-- Start: Blog Sec -->
            <div class="container">
                <div class="col-md-12">
                    <div class="main-title">
                        <h5>Tin tức</h5>
                        <h2>Mới cập nhật</h2>
                    </div>
                </div>
            </div>

            <div class="blog-sec">
                <div class="container">
                    <!-- Start:Blog Area -->
                    <div class="blog-main-area">
                        <!-- Start:Blog Items (With Mini Grid) -->
                        <div class="mini-grid-area">
                            @foreach (var item in ViewBag.OnePageOfNews)
                            {
                                <div class="col-md-4 ">
                                    <div class="item-box">
                                        <a href="~/tin-tuc/chi-tiet/@item.Slug_Title" class=" img-holder">
                                            <img src="~/Images/News/@item.ImageSlug" alt="@item.Title">
                                            <div class="mask"></div>
                                        </a>
                                        <div class="info-text-holder">
                                            <h6><a href="~/tin-tuc/chi-tiet/@item.Slug_Title">@item.Title.</a></h6>
                                            <span><a href="~/tin-tuc/chi-tiet/@item.Slug_Title">@item.CreatedDate</a></span>
                                            <p>@item.ShortDescription_Html. </p>
                                            <a href="~/tin-tuc/chi-tiet/@item.Slug_Title" class="button-medium">ĐỌC TIẾP</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- End:Blog Items (With Mini Grid) -->
                        <!-- Start:Pagination -->
                        <div class="pagination-area">
                            <ul class="pagination">

                                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfNews, page => Url.Action("loai-tin-tuc", "tin-tuc", new { id = Model.newsType.Slug_Name, page }))


                            </ul>
                        </div>
                        <!-- End:Pagination -->

                    </div>
                    <!-- End:Blog Area -->
                </div>
            </div>
            <!-- End: Blog Sec -->

        </div>
    </div>
</section>

