@model ATAdmin.Efs.Entities.AboutUs
@{
    ViewData["Title"] = "Giới Thiệu";
}



    <h4>Chi Tiết Giới Thiệu</h4>
    <hr />
	
	<div class="row form-group">
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
			<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
			<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
			<a asp-action="Index" class="k-button">Trở lại</a>
		</div>
	</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Tiêu đề :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Title)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				SEO :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Slug_Title)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				SEO tự động :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.AutoSlug)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Mô tả ngắn :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.ShortDescription_Html)
			</div>
		</div>
		
		<div class="row form-group">
            <div class="col-md-3 text-md-right details-label">
                Mô tả đầy đủ :
            </div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.LongDescription_Html)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Hình ảnh :
			</div>
			<div class="col-md-7">
                <img width="200" class="border border-primary" id="img_ImageSlug" src="~/Image/@Url.Content(Model?.ImageSlug)" />
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.Tags) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Tags)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.KeyWord) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.KeyWord)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.MetaData) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.MetaData)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Ghi chú :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Note)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Tạo bởi :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.CreatedBy)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Ngày tạo :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.CreatedDate)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Cập nhật bởi :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.UpdatedBy)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Ngày cập nhật :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.UpdatedDate)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.RowVersion) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.RowVersion)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.RowStatus) :
			</div>
			<div class="col-md-7">
									@Model.RowStatus.ToString("N0")
			</div>
		</div>

	<div class="row form-group">
		<div class="col-md-3 text-md-right ">
		</div>
        <div class="col-md-7">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
	</div>
