@model ATAdmin.Efs.Entities.AspNetRoles
@{
    ViewData["Title"] = "Xóa Quyền";
}



<h4>Xóa Quyền</h4>
<h5 class="text-danger">Bạn có chắc muốn xóa?</h5>
<hr />

<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model?.Id" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>


<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên quyền :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.NormalizedName) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.NormalizedName)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.ConcurrencyStamp) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.ConcurrencyStamp)
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model?.Id" />>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>


