@model ATAdmin.Efs.Entities.AspNetRoles
@{
    ViewData["Title"] = "Chi tiết Quyền";
}



<h4>Chi tiết Quyền</h4>
<hr />

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
        <a asp-action="Index" class="k-button">Trở lại</a>
    </div>
</div>



<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên quyền :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.NormalizedName) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.NormalizedName)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.ConcurrencyStamp) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.ConcurrencyStamp)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
        <a asp-action="Index" class="k-button">Trở lại</a>
    </div>
</div>
