@model HomeViewModel

@{
    ViewBag.Title = Model.setting.HOME;
}

<section class="banner-sec-01" id="home">
    <div id="particles">

        <div class="cont-area">

            <div class="container">
                <!-- Start:Slider area -->
                <div class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <!-- Start: Banner Slide 01 -->
                            <li>
                                <h3>@Model.setting.HOME_1_1</h3>
                                <h1>@Model.setting.HOME_1_2</h1>
                                <h1>@Model.setting.HOME_1_3</h1>
                                <h5>@Model.setting.HOME_1_4</h5>
                            </li>
                            <!-- End: Banner Slide 01 -->
                            <!-- Start: Banner Slide 02 -->
                            <li>
                                <h3>@Model.setting.HOME_2_1</h3>
                                <h1>@Model.setting.HOME_2_2</h1>
                                <h5>@Model.setting.HOME_2_3</h5>
                            </li>
                            <!-- End: Banner Slide 02 -->
                        </ul>
                    </div>
                </div>
                <!-- End:Slider area -->
            </div>

        </div>

    </div>
</section>

<section class="about-text-outer-area" id="about">
    <!-- Start:About Awesome content area-->
    <div class="container">
        <div class="content-area">

            <!-- Start:Left area-->
            <div class="left-side col-md-6">
                <div class="main-title left-align">
                    <h4><span>@Model.aboutus.Name</span></h4>
                </div>
                <div class="text-box">
                    <p>@Model.aboutus.LongDescription_Html</p>
                </div>
                <a href="~/gioi-thieu" class="button-medium left-align">Xem thêm</a>
            </div>
            <!-- End:Left area-->
            <!-- Start:Right area-->
            <div class="right-side col-md-6">
                <div class="img-holder">
                    <img src="~/Image/@Model.aboutus.ImageSlug" alt="">
                </div>
            </div>
            <!-- End:Right area-->

        </div>
    </div>
    <!-- End:Awesome Structure content area-->
</section>

<section class="home-blog-area">
    <div class="container">
        <div class="home-blog-sec">
            <div class="content-area">
                <div class="main-title">
                    <h5>Tin Tức</h5>
                    <h2>Mới nhất</h2>
                </div>
                <!-- Start:Home Blog items-->
                <div class="home-blog-items-sec">
                    <!-- Start:Blog item 1-->
                    @foreach (var item in Model.listNews.Take(3))
                    {
                        <div class="col-md-4">
                            <div class="item-box">
                                <div class=" img-holder">
                                    <a data-featherlight="image" href="~/news/newsdetail/@item.Slug_Title"><img alt="" src="~/Image/@item.ImageSlug"></a>
                                </div>
                                <div class="info-text-holder">
                                    <h6><a href="single-article.html">@item.Title</a></h6>
                                    <span>@item.CreatedDate</span>
                                    <p>
                                        @item.ShortDescription_Html
                                    </p>
                                    <a class="button-medium" href="~/news/newsdetail/@item.Slug_Title">ĐỌC TIẾP</a>
                                </div>
                            </div>
                        </div>
                    }
                    <a href="~/tin-tuc-su-kien" class="button-medium left-align">Xem thêm</a>
                </div>
                <!-- End:Home Blog items-->
            </div>
        </div>
    </div>
</section>

<section class="make-different-outer-area light-grey">
    <!-- Start:Make different content area-->
    <div class="container">

        <!-- Start:Left area-->
        <div class="left-side">
            <div class="main-title left-align">
                <h5><span>Dịch vụ</span></h5>
                <h1>Nổi bật</h1>
            </div>
            <div class="text-box">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                </p>
                <!-- Start:Pie Chart List Items-->
                <ul class="list-style-calendar">
                    @foreach (var item in Model.listService.Take(4))
                    {
                        <li><a href="~/service/servicedetail/@item.Slug_Name">@item.ServiceName </a></li>
                    }

                </ul>
                <!-- End:Pie Chart List Items-->
                <a href="~/dich-vu" class="button-medium left-align">Khám phá</a>
            </div>
        </div>
        <!-- End:Left area-->
        <!-- Start:Right area-->
        <div class="right-side">
            <div class="img-holder">
                <img src="~/template/img/make-different.png" alt="">
            </div>
        </div>
        <!-- End:Right area-->

    </div>
    <!-- End:Make different content area -->
</section>

<section class="home-blog-area">
    <div class="container">
        <div class="home-blog-sec">
            <div class="content-area">
                <div class="main-title">
                    <h5>Sản phẩm</h5>
                    <h2>Mới tiêu biểu</h2>
                </div>
                <!-- Start:Home Blog items-->
                <div class="home-blog-items-sec">
                    <!-- Start:Blog item 1-->
                    @foreach (var item in Model.listProduct.Take(3))
                    {
                        <div class="col-md-4">
                            <div class="item-box">
                                <div class=" img-holder">
                                    <a data-featherlight="image" href="~/product/productdetail/@item.Slug_Name"><img alt="" src="~/Image/@item.ImageSlug"></a>
                                </div>
                                <div class="info-text-holder">
                                    <h6><a href="single-article.html">@item.Name</a></h6>
                                    <span>@item.CreatedDate</span>
                                    <p>
                                        @item.LongDescription_Html
                                    </p>
                                    <a class="button-medium" href="~/product/productdetail/@item.Slug_Name"> ĐỌC TIẾP</a>
                                </div>
                            </div>
                        </div>
                    }
                    <a href="~/san-pham" class="button-medium left-align">Xem thêm</a>
                </div>
                <!-- End:Home Blog items-->
            </div>
        </div>
    </div>
</section>

<section class="awesome-structure-outer-area">
    <!-- Start:Awesome Structure content area-->
    <div class="container">
        <!-- Start:Right area-->
        <div class="right-side">
            <div class="content-area">
                <div class="container">
                    <div class="main-title left-align">
                        <h5><span>Giới thiệu</span></h5>
                        <h1>Khóa học</h1>
                    </div>
                    <div class="text-box">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                        <!-- Start:Pie Chart List Items-->
                        <ul class="list-style-pie-chart">
                            @foreach (var item in Model.listCourse.Take(4))
                            {
                                <li><a href="~/course/coursedetail/@item.Slug_Name">@item.Name </a></li>
                            }

                        </ul>
                        <!-- End:Pie Chart List Items-->
                        <a href="~/khoa-hoc" class="button-medium left-align">Khám phá</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:Right area-->
        <!-- Start:Left area-->
        <div class="left-side">
            <div class="img-holder">
                <img src="~/template/img/women.png" alt="">
            </div>
        </div>
        <!-- End:Left area-->
    </div>
    <!-- End:Awesome Structure content area-->
</section>

<section class="testimonial-area-outer">
    <div class="testimonial-sec" style="background:url(../images/setting/cmt.jpg) no-repeat center center fixed;
         background-size:cover;">
        <div class="overlay">
            <div class="container">
                <div class="content-area">
                    <div class="main-title">
                        <h5>Những nhân viên nổi bật</h5>
                        <h2>Và những suy nghĩ của họ.</h2>
                    </div>
                    <div class="testimonial-slider-sec ">
                        <div id="demo">
                            <div id="testimonial-slider" class="owl-carousel">
                                @foreach (var item in Model.listEmployee.Take(4))
                                {
                                    <div class="item">
                                        <div class="testimonial-box">
                                            <div class="author">
                                                <img src="~/Image/@item.ImageSlug" alt="">
                                            </div>
                                            <div class="comment">
                                                <h5>@item.Name</h5>
                                                <span>@item.CreatedDate</span>
                                                <p>
                                                    “ @item.LongDescription_Html. ”
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






