@model ATAdmin.Efs.Entities.View_Users_Roles
@{
    ViewData["Title"] = "Xóa Phân Quyền";
}



    <h4>Xóa Phân Quyền</h4>
	<h5 class="text-danger">Bạn có chắc muốn xóa?</h5>
    <hr />
	
	<form asp-action="Delete">
				<input type="hidden" name="Id" value="@Model.IdUser" />
				
		<div class="row form-group">	
			<div class="col-md-3 text-md-right ">
			</div>
			<div class="col-md-7">
				<input type="submit" value="Xóa" class="btn btn-danger" />
					<a asp-action="PhanQuyen" asp-route-id="@Model.IdUser" class="btn btn-primary">Sửa</a>
					@*<a asp-action="Details" asp-route-id="@Model.IdUser" class="k-button">Details</a>*@
				<a asp-action="Index" class="k-button">Trở lại</a>
			</div>
		</div>
	</form>	

		
		
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Người dùng :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.TenNguoiDung)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				Tên quyền :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.TenQuyen)
			</div>
		</div>
		

	<form asp-action="Delete">
				<input type="hidden" name="Id" value="@Model.IdUser" />
				
		<div class="row form-group">	
			<div class="col-md-3 text-md-right ">
			</div>
			<div class="col-md-7">
				<input type="submit" value="Xóa" class="btn btn-danger" />
					<a asp-action="PhanQuyen" asp-route-id="@Model.IdUser" class="btn btn-primary">Sửa</a>
					@*<a asp-action="Details" asp-route-id="@Model.IdUser" class="k-button">Chi tiết</a>*@
				<a asp-action="Index" class="k-button">Trở lại</a>
			</div>
		</div>
	</form>	


