@model ATAdmin.Efs.Entities.ViewUserRole
@{
    ViewData["Title"] = "Details";
}



    <h4>Details Phân Quyền</h4>
    <hr />
	
	<div class="row form-group">
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
					<a asp-action="Edit" asp-route-id="@Model.IdUser" class="btn btn-primary">Edit</a>
					<a asp-action="Delete" asp-route-id="@Model.IdUser" class="btn btn-danger">Delete</a>
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>

		
		
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.TenNguoiDung) :
			</div>
			<div class="col-md-7">
				@Html.DisplayFor(model => model.TenNguoiDung)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.TenQuyen) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.TenQuyen)
			</div>
		</div>
		
		
		

	<div class="row form-group">
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
					<a asp-action="Edit" asp-route-id="@Model.IdUser" class="btn btn-primary">Edit</a>
					<a asp-action="Delete" asp-route-id="@Model.IdUser" class="btn btn-danger">Delete</a>
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>
