@model AspNetUserRolesEditViewModel


@{
    ViewData["Title"] = "Edit";
}


<h4>Edit Phân Quyền</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.UserId" class="btn btn-danger">Delete</a>
            <a asp-action="Details" asp-route-id="@Model.UserId" class="btn btn-success">Refresh</a>
            <a asp-action="Index" class="k-button">Back to List</a>
        </div>
    </div>
    <input type="hidden" name="UserId" value="@Model?.UserId" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="RoleId" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <kendo-dropdownlist for="RoleId" class="form-control" bind-to="@ViewBag.RoleId" />
        </div>

        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.UserId" class="btn btn-danger">Delete</a>
            <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-success">Refresh</a>
            <a asp-action="Details" asp-route-id="@Model.UserId" class="k-button">Details</a>
            <a asp-action="Index" class="k-button">Back to List</a>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  
}

