@model AspNetUserRolesEditViewModel


@{
    ViewData["Title"] = "Edit";
}

@{
    var tools = new string[] {
            "transferTo",
            "transferFrom",
            "transferAllTo",
            "transferAllFrom"
        };
}

<style>
    #employees {
        width: 270px;
    }

    .demo-section label {
        margin-bottom: 5px;
        font-weight: bold;
        display: inline-block;
    }

    #example .demo-section {
        max-width: none;
        width: 515px;
    }

    #example .k-listbox {
        width: 236px;
        height: 310px;
    }

        #example .k-listbox:first-of-type {
            width: 270px;
            margin-right: 1px;
        }
</style>

<h4>Edit Phân Quyền</h4>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>

</div>
<input type="hidden" name="UserId" value="@Model?.UserId" />

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
        <label class="col-form-label">Người dùng</label>
        <span class="text-danger">*</span>
    </div>
    <div class="col-md-7">
        <input asp-for="TenNguoiDung" class="form-control" readonly />
    </div>

    <div class="offset-md-3 col-md-7 at-wrapper-validate">
        <span asp-validation-for="TenNguoiDung" class="text-danger"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right ">
        <label class="col-form-label">Phân quyền</label>
        <span class="text-danger">*</span>
    </div>
    <div class="col-md-7">

        <div id="example" role="application">
            <div class="demo-section k-content wide">
                <label for="optional" id="employees"> Chưa có quyền</label>
                <label for="selected"> Có quyền</label>
                <br />

                <kendo-listbox name="optional" connect-with="selected" bind-to="ViewBag.ListChuaQuyen" datatextfield="Name" datavaluefield="Id">
                    <toolbar position="ListBoxToolbarPosition.Right" tools='tools' />
                </kendo-listbox>

                <kendo-listbox name="selected" selectable="ListBoxSelectable.Multiple" bind-to="ViewBag.ListCoQuyen" datatextfield="Name" datavaluefield="Id">
                </kendo-listbox>
            </div>
        </div>

    </div>

    <div class="offset-md-3 col-md-7 at-wrapper-validate">
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <input type="submit" value="Save" id="btn-save" class="btn btn-primary" />
        <a asp-action="Delete" asp-route-id="@Model.UserId" class="btn btn-danger">Delete</a>
        <a asp-action="PhanQuyen" asp-route-id="@Model.UserId" class="btn btn-success">Refresh</a>
        <a asp-action="Details" asp-route-id="@Model.UserId" class="k-button">Details</a>
        <a asp-action="Index" class="k-button">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var _urlUserRoles = '@Url.Action("PhanQuyen", "GrantRights")';
        var url = '@Url.Action("Index","GrantRights")'; //url này dùng để chuyển hướng sau khi thực thi xong
    </script>

    <script src="~/js/UserRoles.js"></script>
}


