@model ATAdmin.Efs.Entities.Setting
@{
    ViewData["Title"] = "Setting";
}



<h4>Xóa Setting</h4>
<h5 class="text-danger">Bạn có chắc muốn xóa?</h5>
<hr />

<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model?.Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>




<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.Id) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Id)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.Value) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Value)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.Id2) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Id2)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.Description) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.IsManual) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.IsManual)
    </div>
</div>


<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowVersion) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.RowVersion)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowStatus) :
    </div>
    <div class="col-md-7">
        @Model.RowStatus.ToString("N0")
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.ImageSlug) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.ImageSlug)
    </div>
</div>


<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model?.Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>


