@model ATAdmin.Efs.Entities.Contact
@{
    ViewData["Title"] = "Liên lạc";
}



    <h4>Xóa Liên lạc</h4>
<h5 class="text-danger">Bạn có chắc muốn xóa</h5>
<hr />

<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model?.Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>



<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.Email) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Email)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Số điện thoại :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Phone)
    </div>
</div>

@*<div class="row form-group">
        <div class="col-md-3 text-md-right details-label">
            @Html.DisplayNameFor(model => model.Title) :
        </div>
        <div class="col-md-7">
                        @Html.DisplayFor(model => model.Title)
        </div>
    </div>*@

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Nội dung :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Body)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Đã xem :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.IsRead)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên khóa học :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.FkCourseId)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ghi chú :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Note)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tạo bởi :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ngày tạo :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Cập nhật bởi :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.UpdatedBy)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ngày cập nhật :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowVersion) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.RowVersion)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowStatus) :
    </div>
    <div class="col-md-7">
        @Model.RowStatus.ToString("N0")
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model?.Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>


