@model ATAdmin.Efs.Entities.Employee
@{
    ViewData["Title"] = "Nhân Viên";
}



<h4>Chi Tiết Nhân Viên </h4>
<hr />

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
        <a asp-action="Index" class="k-button">Trở lại</a>
    </div>
</div>


<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Loại nhân viên :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Fk_Emplyee.Name)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Hình ảnh :
    </div>
    <div class="col-md-7">
        <img width="200" class="border border-primary" id="img_ImageSlug" src="~/Image/@Url.Content(Model?.ImageSlug)" />
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Mã nhân viên :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Code)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Tên nhân viên :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ngày sinh :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.BirthDate)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Địa chỉ :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Address)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Số điện thoại :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Phone)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Chuyên môn :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Specialize)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowVersion) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.RowVersion)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowStatus) :
    </div>
    <div class="col-md-7">
        @Model.RowStatus.ToString("N0")
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
        <a asp-action="Index" class="k-button">Trở lại</a>
    </div>
</div>
