@model ATAdmin.Efs.Entities.Contact
@{
    ViewData["Title"] = "Details";
}



    <h4>Details Contact</h4>
    <hr />
	
	<div class="row form-group">
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
					<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
					<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>

		
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.Name) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Name)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.Email) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Email)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.Phone) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Phone)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.Title) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Title)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.Body) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Body)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.IsRead) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.IsRead)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.FkProductCommentId) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.FkProductCommentId)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.Note) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.Note)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.CreatedBy) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.CreatedBy)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.CreatedDate) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.CreatedDate)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.UpdatedBy) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.UpdatedBy)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.UpdatedDate) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.UpdatedDate)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.RowVersion) :
			</div>
			<div class="col-md-7">
							@Html.DisplayFor(model => model.RowVersion)
			</div>
		</div>
		
		<div class="row form-group">
			<div class="col-md-3 text-md-right details-label">
				@Html.DisplayNameFor(model => model.RowStatus) :
			</div>
			<div class="col-md-7">
									@Model.RowStatus.ToString("N0")
			</div>
		</div>

	<div class="row form-group">
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
					<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
					<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>
