@model CourseViewModel
@inject TTCNTT.Efs.Context.WebTTCNTTContext context
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewBag.Title = Model.courseType.Name;
}

<section class="banner-sec">
    <div class="main-banner inner" style=" background:url(/Image/@Model.setting.IMAGESLIDE) no-repeat top center fixed;">
        <a href="#" name="scroll-top-div"></a>
        <div class="overlay-mask">
            <!-- Start:Slider area -->
            <div class="container">
                <h1>@Model.setting.COURSE</h1>
                <h6>@Model.setting.COURSE_SLOGAN</h6>
                <hr>
            </div>
            <!-- End:Slider area -->
        </div>
    </div>
</section>

<section class="blog-outer-area">
    <div class="content-area">
        <div class="blog-area-sec">
            <!-- Start: Blog Sec -->
            <div class="container">
                <div class="col-md-12">
                    <div class="main-title">
                        <h5>@Model.courseType.Name</h5>
                        <h2>@Model.setting.COURSE_TYPE</h2>
                    </div>
                </div>
            </div>

            <div class="blog-sec">
                <div class="container">
                    <!-- Start:Blog Area -->
                    <div class="blog-main-area">
                        <!-- Start:Blog Items (With Mini Grid) -->
                        <div class="mini-grid-area">
                            @foreach (var item in ViewBag.OnePageOfCourses)
                            {
                                <div class="col-md-4 ">
                                    <div class="item-box">
                                        <a href="~/khoa-hoc/chi-tiet/@item.Slug_Name" class=" img-holder">
                                            <img src="~/Image/@item.ImageSlug" alt="@item.Name">
                                            <div class="mask"></div>
                                        </a>
                                        <div class="info-text-holder">
                                            <h6><a href="~/khoa-hoc/chi-tiet/@item.Slug_Name">@item.Name.</a></h6>
                                            <span><a href="~/khoa-hoc/chi-tiet/@item.Slug_Name">@item.CreatedDate</a></span>
                                            @if (@item.ShortDescription_Html.Length >= 100)
                                            {
                                                <p>@item.ShortDescription_Html.Substring(0, 100)...</p>
                                            }
                                            else
                                            {
                                                <p>@item.ShortDescription_Html...</p>

                                            }
                                            <a href="~/khoa-hoc/chi-tiet/@item.Slug_Name" class="button-medium">ĐỌC TIẾP</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- End:Blog Items (With Mini Grid) -->
                        <!-- Start:Pagination -->
                        <div class="pagination-area">
                            <ul class="pagination">

                                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfCourses, page => Url.Action("loai-khoa-hoc", "khoa-hoc", new { id = Model.courseType.Slug_Name, page }))


                            </ul>
                        </div>
                        <!-- End:Pagination -->

                    </div>
                    <!-- End:Blog Area -->
                </div>
            </div>
            <!-- End: Blog Sec -->

        </div>
    </div>
</section>

