
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IViewLocalizer Localizer
@inject IStringLocalizer<ProjectType> EntityLocalizer
@inject IStringLocalizer<BaseEntityResources> BaseEntityLocalizer

@{
    ViewData["Title"] =  SharedLocalizer["ViewTitle_List"]  + " " + EntityLocalizer["Loại Dự Án"];
    var parentItem = ViewData["ParentItem"] as ProjectType;
    if (parentItem != null)
    {
        ViewData["Title"] = (string)ViewData["Title"] + " : " + parentItem.Id + " | " + parentItem.Name;
    }
}


<div class="container">
	<h4>
		@SharedLocalizer["ViewTitle_List"] @EntityLocalizer["Loại Dự Án"]
		@if (parentItem != null)
        {
            @:: <span class="text-warning">@parentItem.Id | @parentItem.Name</span>
        }
	</h4>
	<hr />	
	
	<p>
		<a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Btn_CreateNew"]</a>
		@if (parentItem != null)
        {
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">@SharedLocalizer["Btn_ListAll"]</a>
        }
        else
        {EntityLocalizer[nameof(ProjectType.Name)]
        }
	</p>
</div>

@(Html.Kendo().Grid<ProjectTypeDetailsViewModel>()
    .Name("gridProjectType")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Title(" ").Width(180).Locked(true).Filterable(false).Sortable(false).ClientTemplate(
            "<a class=\"btn btn-success\" data-toggle=\"tooltip\" title=\"" + SharedLocalizer["Ttip_Detail"] + "\"" +
                "href='" + Url.Action("Details", ((string)ViewData["ControllerNameForGrid"])) + "/#= " + nameof(ProjectType.Id) + " #'" +
            "><i class=\"far fa-eye\"></i></a> " +

            "<a class=\"btn btn-success\" data-toggle=\"tooltip\" title=\"" + SharedLocalizer["Ttip_Edit"] + "\"" +
                "href='" + Url.Action("Edit", ((string)ViewData["ControllerNameForGrid"])) + "/#= " + nameof(ProjectType.Id) + " #'" +
            "><i class=\"far fa-pencil\"></i></a> " +

            "<a class=\"btn btn-danger\" data-toggle=\"tooltip\" title=\"" + SharedLocalizer["Ttip_Delete"] + "\"" +
                "href='" + Url.Action("Delete", ((string)ViewData["ControllerNameForGrid"])) + "/#= " + nameof(ProjectType.Id) + " #'" +
            "><i class=\"far fa-trash-alt\"></i></a> "
        );		
			columns.Bound(c => c.RowStatus).Title(BaseEntityLocalizer[nameof(BaseEntityResources.RowStatus)]).Width(150).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.Name).Title("Tên").Width(200).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.SlugName).Title(EntityLocalizer[nameof(ProjectType.SlugName)]).Width(200).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.Code).Title(EntityLocalizer[nameof(ProjectType.Code)]).Width(200).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.KeyWord).Title(EntityLocalizer[nameof(ProjectType.KeyWord)]).Width(200).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.MetaData).Title(EntityLocalizer[nameof(ProjectType.MetaData)]).Width(200).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.Note).Title(EntityLocalizer[nameof(ProjectType.Note)]).Width(200).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.CreatedDate).Title(BaseEntityLocalizer[nameof(BaseEntityResources.CreatedDate)]).Width(180).Format(SharedLocalizer["Format_DateTime"]).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.UpdatedDate).Title(BaseEntityLocalizer[nameof(BaseEntityResources.UpdatedDate)]).Width(180).Format(SharedLocalizer["Format_DateTime"]).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.CreatedBy).Title(BaseEntityLocalizer[nameof(BaseEntityResources.CreatedBy)]).Width(200).HtmlAttributes(new { @class = "text-nowrap" });
			columns.Bound(c => c.UpdatedBy).Title(BaseEntityLocalizer[nameof(BaseEntityResources.UpdatedBy)]).Width(200).HtmlAttributes(new { @class = "text-nowrap" });
    })
    .HtmlAttributes(new { style = "height: 600px;" })
	.Resizable(r => r.Columns(true))
    .Scrollable()
    .Groupable()
    .Sortable()
	.Filterable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(new int[] { 50, 100, 200, 500, 1000 })
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Index_Read", ((string)ViewData["ControllerNameForGrid"]), new { ParentId = parentItem?.Id }))
		.PageSize(50)
    )
)

<div class="container">
	<p>
	</p>
	<p>
		<a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Btn_CreateNew"]</a>
		@if (parentItem != null)
        {
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">@SharedLocalizer["Btn_ListAll"]</a>
        }
        else
        {
        }
	</p>
</div>
