@model ProductImageCreateViewModel


@{
    ViewData["Title"] = "Hình Sản Phẩm";
}

<h4>Thêm Hình Ảnh</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Thumbnail" class="col-form-label">Hình ảnh</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <button id="btnChooseImage_Thumbnail" class="btn mb-1">Chọn hình</button>
            <input style="display:none;" asp-for="Thumbnail" />
            <img width="200" class="border border-primary" id="img_Thumbnail" src="~/Image/@Url.Content(Model?.Thumbnail)" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Thumbnail" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="FkProductId" class="col-form-label">Tên sản phẩm</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <kendo-dropdownlist for="FkProductId" class="form-control" bind-to="@ViewBag.FkProductId" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="FkProductId" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Name" class="col-form-label">Tên hình</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Name" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group slugName">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Slug_Name" class="col-form-label">SEO</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Slug_Name" class="k-textbox form-control slugtitle" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Slug_Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="AutoSlug" class="col-form-label">SEO tự động</label>
        </div>
        <div class="col-md-7">
            <input asp-for="AutoSlug" type="checkbox" checked="@Model?.AutoSlug" />
            @*<kendo-switch for="AutoSlug" checked="@Model?.AutoSlug" />*@
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="AutoSlug" class="text-danger"></span>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Extension" class="col-form-label">Mở rộng</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Extension" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Extension" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="SortIndex" class="col-form-label">Sắp xếp</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="SortIndex" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="SortIndex" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Description" class="col-form-label">Mô tả</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Description" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="IsYoutube" class="col-form-label">Youtube</label>
        </div>
        <div class="col-md-7">
            <input asp-for="IsYoutube" type="checkbox" checked="@Model?.IsYoutube" />
            @*<kendo-switch for="IsYoutube" checked="@Model?.IsYoutube" />*@
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="IsYoutube" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group youtubelink">
        <div class="col-md-3 text-md-right ">
            <label asp-for="YoutubeLink" class="col-form-label">Link Youtube</label>
        </div>
        <div class="col-md-7">
            <input asp-for="YoutubeLink" class="k-textbox form-control linkyoutube" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="YoutubeLink" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Tags" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="Tags" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="KeyWord" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="KeyWord" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="KeyWord" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="MetaData" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="MetaData" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="MetaData" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Note" class="col-form-label">Ghi chú</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Note" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>


@(Html.Kendo().Dialog()
    .Name("dialogChooseImage_Thumbnail")
    .Title("Chọn hình")
    .Content("<div id=\"divChooseImage_Thumbnail\"></div>")
    .Width(600)
    .Visible(false)
    .Modal(true)
)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            $('.youtubelink').slideToggle();
            $("#AutoSlug").kendoSwitch({
                change: function () {
                    if ($('#AutoSlug').prop('checked') == true) {
                        $('.slugName').slideToggle();
                        $('.slugtitle').val('0');
                    }
                    else {
                        $('.slugName').slideToggle();
                        $('.slugtitle').val('');
                    }
                }
            });

            $("#IsYoutube").kendoSwitch({
                change: function () {
                    if ($('#IsYoutube').prop('checked') == true) {
                        $('.youtubelink').slideToggle();
                        
                    }
                    else {
                        $('.youtubelink').slideToggle();
                        $('.linkyoutube').val('');
                    }
                }
            });

            $("#divChooseImage_Thumbnail").kendoImageBrowser({
                transport: {
                    type: "imagebrowser-aspnetmvc",
                    read: "@Url.Action("Read", (string)ViewData["ControllerNameForImageBrowser"])",
                    destroy: "@Url.Action("Destroy", (string)ViewData["ControllerNameForImageBrowser"])",
                    imageUrl: "@Url.Content( ImageBrowserProductImageController.FOLDER_NAME + "/{0}")",
                    uploadUrl: "@Url.Action("Upload", (string)ViewData["ControllerNameForImageBrowser"])"
                },
                apply: function () {
                    var selectedImage = this.value();
                    $("#Thumbnail").val(selectedImage);
                    $("#img_Thumbnail").attr("src", "/Image/"+ selectedImage);
                    $('#dialogChooseImage_Thumbnail').data("kendoDialog").close();
                }
            });

            $("#btnChooseImage_Thumbnail").click(function (e) {
                e.preventDefault();
                $('#dialogChooseImage_Thumbnail').data("kendoDialog").open();

            });
        });
    </script>
}
