@model AboutUsViewModel
@using TTCNTT.Controllers

@{
    ViewBag.Title = Model.setting.ABOUTUS;
}

<section class="banner-sec">
    <div class="main-banner inner" style=" background:url(../../Images/@Model.setting.IMAGESLIDE) no-repeat center center; ">
        @*background-size:cover;*@

        <a href="#" name="scroll-top-div"></a>
        <div class="overlay-mask">
            <!-- Start:Slider area -->
            <div class="container">
                <h1>@Model.setting.ABOUTUS</h1>
                <h6>@Model.setting.ABOUTUS_SLOGAN</h6>
                <hr>
            </div>
            <!-- End:Slider area -->
        </div>
    </div>
</section>

<section class="about-text-outer-area">
    <!-- Start:About Awesome content area-->
    <div class="container">
        <div class="content-area">

            <!-- Start:Left area-->
            <div class="left-side col-md-6">
                <div class="main-title left-align">
                    @*<h5><span>We Build Awesome</span></h5>
                        <h1>Mobile App</h1>*@
                    <h4><strong>@Model.about.Name</strong></h4>
                </div>
                <div class="text-box">
                    <p>@Model.about.LongDescription_Html</p>

                </div>
            </div>
            <!-- End:Left area-->
            <!-- Start:Right area-->
            <div class="right-side col-md-6">
                <div class="img-holder">
                    <img height="600" width="565" src="~/Images/AboutUs/@Model.about.ImageSlug" alt="">
                </div>
            </div>
            <!-- End:Right area-->

        </div>
    </div>
    <!-- End:Awesome Structure content area-->
</section>

<section class="special-features-area">
    <!-- Start:feature contents area-->
    <div class="container">
        <div class="home-feature-content content-area">
            <div class="main-title">
                @*<h4>Giới thiệu</h4>*@
                <h2>Tại sao bạn nên chọn Trung Tâm?</h2>
            </div>

            <div class="features-contents ">
                @foreach (var item in Model.listAboutSkill)
                {
                    <div class="col-md-4">
                        <div class="features-box">
                            <img height="220" width="220" src="~/Images/AboutUs/@item.ImageSlug" alt="">
                            @*<div class="features-icon"><i class="fa fa-diamond"></i></div>*@
                            <div class="features-text">
                                <h6>@item.Name</h6>
                                <p>@item.LongDescription_Html.</p>
                            </div>
                        </div>
                    </div>
                }


            </div>
            @*<div class="main-feature-contents-btn-area">
                    <a class="button-large home" href="services.html">Learn more</a>
                </div>*@
        </div>
    </div>
    <!-- End:feature contents area -->
</section>

<section class="our-team-area-outer light-grey">
    <div class="container">
        <div class="content-area">
            <div class="main-title">
                <h5><span> Những gương mặt nổi bật </span></h5>
                <h2>Trung Tâm Công Nghệ Thông Tin</h2>
            </div>
            <div class="our-team-detail-sec" id="tt-employee">
            </div>
            @foreach (var item in Model.listEmployee.Take(3))
            {
                <div class="col-md-4">
                    <div class="team-member">
                        <div class="team-member-box">
                            <a href="~/giang-vien/chi-tiet/@item.Slug_Name">
                                <div class="image-holder">
                                    <img src="~/Images/Employee/@item.ImageSlug" title="@item.Name" alt="@item.Name" id="add-src">
                                </div>
                                <div class="text-box">
                                    <h6 id="tt-Specialize">@item.Specialize</h6>
                                    <h5 id="tt-employee-name">@item.Name</h5>
                                    <hr>
                                    <p id="tt-employee-detail">@item.ShortDescription_Html. </p>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>

@*<div style="display:none;">
    <partial name="_TemplateListEmployee.cshtml" />
</div>*@


@*@section scripts {
        <script>
            var _urlGetListEmployee =
                '@Url.Action(nameof(AboutUsController.GetListEmployee), nameof(AboutUsController).Replace("Controller", ""))';
        </script>
        <script src="~/js/_Pages/GetListEmployee.js"></script>
    }*@