@model UsersBaseViewModel


@{
    ViewData["Title"] = "Sửa dịch vụ";
}


<h4>Sửa dịch vụ</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Tải lại</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
    <input type="hidden" name="Id" value="@Model?.Id" />

    <div class="row form-group slugName">
        <div class="col-md-3 text-md-right ">
            <label asp-for="UserName" class="col-form-label">Tên người dùng</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="UserName" class="k-textbox form-control slugtitle" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Email" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Email" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="EmailConfirmed" class="col-form-label">Xác nhận</label>
        </div>
        <div class="col-md-7">
            <kendo-switch for="EmailConfirmed" checked="@Model?.EmailConfirmed" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Tải lại</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>

@(Html.Kendo().Dialog()
    .Name("dialogChooseImage_ImageSlug")
    .Title("Chọn hình")
    .Content("<div id=\"divChooseImage_ImageSlug\"></div>")
    .Width(600)
    .Visible(false)
    .Modal(true)
)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#divChooseImage_ImageSlug").kendoImageBrowser({
                transport: {
                    type: "imagebrowser-aspnetmvc",
                    read: "@Url.Action("Read", (string)ViewData["ControllerNameForImageBrowser"])",
                    destroy: "@Url.Action("Destroy", (string)ViewData["ControllerNameForImageBrowser"])",
                    imageUrl: "@Url.Content( ImageBrowserServiceController.FOLDER_NAME + "/{0}")",
                    uploadUrl: "@Url.Action("Upload", (string)ViewData["ControllerNameForImageBrowser"])"
                },
                apply: function () {
                    var selectedImage = this.value();
                    $("#ImageSlug").val(selectedImage);
                    $("#img_ImageSlug").attr("src", "/Image/"+ selectedImage);
                    $('#dialogChooseImage_ImageSlug').data("kendoDialog").close();
                }
            });

            $("#btnChooseImage_ImageSlug").click(function (e) {
                e.preventDefault();
                $('#dialogChooseImage_ImageSlug').data("kendoDialog").open();

            });
        });
    </script>
}

