@model ProductViewModel
@inject TTCNTT.Efs.Context.WebTTCNTTContext context


@{
    ViewBag.Title = Model.product.Name;
}

<section class="banner-sec">
    <div class="main-banner inner" style=" background:url(/Image/@Model.setting.IMAGESLIDE) no-repeat top center fixed;">
        <a href="#" name="scroll-top-div"></a>
        <div class="overlay-mask">
            <!-- Start:Slider area -->
            <div class="container">
                <h1>@Model.setting.PRODUCT</h1>
                <h6>@Model.setting.PRODUCT_SLOGAN</h6>
                <hr>
            </div>
            <!-- End:Slider area -->
        </div>
    </div>
</section>

<section class="blog-outer-area">
    <div class="content-area">
        <div class="blog-area-sec">
            <!-- Start: Blog Sec -->
            <div class="blog-sec">
                <div class="container">
                    <!-- Start:Blog Area -->
                    <div class="blog-inner-area">
                        <!-- Start:Blog Left Content-->
                        <div class="col-md-8 left">
                            <div class="item-box">
                                <div class=" img-holder">
                                    <img src="~/Image/@Model.product.ImageSlug" alt="">
                                </div>
                                <div class="info-text-holder">
                                    <h4>@Model.product.Name.</h4>
                                    <span> <a href="#">@Model.product.CreatedDate</a></span>
                                    <p>
                                        @Model.product.LongDescription_Html.
                                    <p>

                                        <ul class="social-icon-simple">
                                            <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                </div>
                            </div>
                            <!-- Start:Comment Area-->
                            <div class="blog-comment-sec">
                                <h4>Bình Luận</h4>
                                <ul class="users-list">
                                    <li>
                                        @if (Model.listProductComment.Count() > 0)
                                        {
                                            @foreach (var item in Model.listProductComment.Where(h => h.FkProductCommentId == null).OrderBy(h => h.CreatedDate))
                                            {
                                                <div class="user-comment">
                                                    <h6>@item.Name</h6>
                                                    <i>@item.CreatedDate</i>
                                                    <p>@item.Comment.</p>
                                                    <input class="commentID" type="hidden" />
                                                    <input class="btn-Reply" type="submit" value="Trả lời" data-comment-id="@item.Id" />

                                                </div>
                                                @foreach (var subitem in item.InverseFkProductComment)
                                                {
                                                    <div class="user-reply">
                                                        <h6>@subitem.Name</h6><i>@subitem.CreatedDate</i>
                                                        <p>@subitem.Comment.</p>
                                                    </div>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            <p style="text-align: center; font-size: 18px;">(Hãy là người bình luận đầu tiên)</p>
                                        }

                                    </li>
                                </ul>

                                <!-- Start:Leave Repaly -->
                                <div class="Reply-sec">
                                    <input id="fk_ProductId" type="hidden" value="@Model.product.Id" />
                                    <input id="comment-id" type="hidden" />
                                    <h6 class="leave-comment">Để lại bình luận</h6>
                                    <p>Email và số điện thoại của bạn sẽ được giữ bí mật.</p>
                                    <form id="CommentForm" method="post">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input id="name" type="text" placeholder="Họ tên" class="text-field-box borderd smoke-white ">
                                            </div>
                                            <div class="col-md-4">
                                                <input id="email" type="email" placeholder="Email" class="text-field-box borderd smoke-white ">
                                            </div>
                                            <div class="col-md-4">
                                                <input id="phone" type="text" placeholder="Số điện thoại" class="text-field-box borderd smoke-white ">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="container">
                                                <textarea id="content" class="text-field-box borderd smoke-white" placeholder="Nội dung bình luận"></textarea>
                                                <input type="button" class="button-medium submit-comment" value="Gửi bình luận" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End:Leave Repaly -->
                            </div>
                            <!-- End:Comment Area-->
                        </div>
                        <!-- End:Blog Left Content-->
                        <!-- Start:Blog Right Content-->
                        <div class="col-md-4 ">
                            <div class="right">
                                <form asp-controller="san-pham" asp-action="ProductSearch" method="post">
                                    <input id="btn-search-event" type="text" name="search" class="search-btn" placeholder="Tìm kiếm">
                                </form>

                                <!-- Start:category-box-->
                                <h5>Các loại tin tức</h5>
                                <ul class="category-box">
                                    @foreach (var item in Model.listCategory)
                                    {
                                        <li><a href="~/san-pham/loai-san-pham/@item.Slug_Name">@item.Name </a></li>
                                    }
                                </ul>
                                <!-- End:category-box-->
                                <!-- Start:Recent Posts-->
                                <h5>Tin tức khác</h5>
                                <ul class="recent-post">
                                    @foreach (var item in Model.listProduct.Take(4))
                                    {
                                        <li>
                                            <div class="row">
                                                <a href="~/san-pham/chi-tiet/@item.Slug_Name">
                                                    <div class="col-md-5">
                                                        <img src="~/Image/@item.ImageSlug" alt="">
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="text">
                                                            <p>@item.Name</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    }

                                </ul>
                                <!-- End:Recent Posts-->
                                <!-- Star:flikr-img-->
                                @*<h5>Flickr</h5>
                                    <ul class="flikr-img-list">
                                        <li><img src="img/flikr-1.jpg" alt=""></li>
                                        <li><img src="img/flikr-2.jpg" alt=""></li>
                                        <li><img src="img/flikr-3.jpg" alt=""></li>
                                        <li> <img src="img/flikr-4.jpg" alt=""></li>
                                        <li><img src="img/flikr-5.jpg" alt=""></li>
                                        <li><img src="img/flikr-6.jpg" alt=""></li>
                                        <li><img src="img/flikr-7.jpg" alt=""></li>
                                        <li><img src="img/flikr-8.jpg" alt=""></li>
                                    </ul>*@
                                <!-- End:flikr-img-->
                                <!-- Start:tags-->
                                @*<h5>Tags</h5>
                                    <div class="tags">
                                        <a href="#"><span>HTML</span></a>
                                        <a href="#"><span>Finearts</span></a>
                                        <a href="#"><span>PHP</span></a>
                                        <a href="#"><span>Java Script</span></a>
                                        <a href="#"><span>Articles</span></a>
                                        <a href="#"><span>CSS</span></a>
                                        <a href="#"><span>Economics</span></a>
                                        <a href="#"><span>JQuery</span></a>
                                        <a href="#"><span>Edithing</span></a>
                                        <a href="#"><span>Painting</span></a>
                                    </div>*@
                                <!-- End:tags-->

                            </div>
                        </div>
                        <!-- End:Blog Right Content-->
                    </div>
                    <!-- End:Blog Area -->
                </div>
            </div>
            <!-- End: Blog Sec -->
        </div>
    </div>
</section>
<!-- =================================================
Content Area End -->

@section scripts{
    <script>
        var _urlComment = '@Url.Action("NewProductComment", "Product")';
        var _urlProductSearch = '@Url.Action("ProductSearch", "san-pham")';
    </script>

    <script src="~/js/productcomment.js"></script>
    <script src="~/js/ProductSearch.js"></script>
    <script>
        $(".btn-Reply").click(function () {
            //Lấy id của comment
            var $clickedButton = $(this);
            var commentId = $clickedButton.data('comment-id');
            $('#comment-id').val(commentId);
            //Hiệu ứng cuộn
            $('html, body').animate({
                scrollTop: parseInt($(".Reply-sec").offset().top)
            }, 2000);
            //Thế chỗ
            $("h6.leave-comment").replaceWith('<h6 class="leave-comment" style="color:#116184;">Trả lời bình luận</h6>');
            $(".submit-comment").val("Gửi trả lời").css("background-color", "#116184");
            $(".submit-comment").css("background-color", "#116184")
        });



    </script>

}