@model EmployeeViewModel
@inject TTCNTT.Efs.Context.WebTTCNTTContext context
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewBag.Title = Model.setting.SEARCH;
}

@{
    var bannerModel = await TTCNTT.Helpers.SettingValueHelper.GetValueSetting(context);
    <partial name="_BannerPartial" model="bannerModel" />
}

<section class="blog-outer-area">
    <div class="content-area">
        <div class="blog-area-sec">
            <!-- Start: Blog Sec -->
            <div class="container">
                <div class="col-md-12">
                    <div class="main-title">
                        <h5>Tìm Kiếm</h5>
                        <h2>Giảng Viên</h2>
                    </div>
                </div>
            </div>

            <div class="blog-sec">
                <div class="container">
                    <!-- Start:Blog Area -->
                    <div class="blog-main-area">
                        <!-- Start:Blog Items (With Mini Grid) -->
                        <div class="mini-grid-area">
                            @foreach (var item in ViewBag.OnePageOfEmployees)
                            {
                                <div class="col-md-4">
                                    <div class="team-member">
                                        <div class="team-member-box">
                                            <div class="image-holder">
                                                <a href="~/giang-vien/chi-tiet/@item.Slug_Name">
                                                    <img src="~/Images/Employee/@item.ImageSlug" alt="@item.Name">
                                                </a>
                                            </div>
                                            <div class="text-box">
                                                <h6>@item.Specialize</h6>
                                                <h5><a href="~/giang-vien/chi-tiet/@item.Slug_Name">@item.Name</a> </h5>
                                                <hr>
                                                <p id="tt-employee-detail">@item.ShortDescription_Html. </p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- End:Blog Items (With Mini Grid) -->
                        <!-- Start:Pagination -->
                        <div class="pagination-area">
                            <ul class="pagination">

                                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfEmployees, page => Url.Action("tim-kiem", "giang-vien", new { id = ViewBag.id, page }))


                            </ul>
                        </div>
                        <!-- End:Pagination -->

                    </div>
                    <!-- End:Blog Area -->
                </div>
            </div>
            <!-- End: Blog Sec -->

        </div>
    </div>
</section>

