@model CustomerRegisterEditViewModel


@{
    ViewData["Title"] = "Đăng Ký Nhận Tin";
}


    <h4>Sửa Đăng Ký Nhận Tin</h4>
<hr />
<form asp-action="Edit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row form-group">	
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
			<input type="submit" value="Lưu" class="btn btn-primary" />
				<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
				<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Tải lại</a>
				<a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
			<a asp-action="Index" class="k-button">Trở lại</a>
		</div>
	</div>
		<input type="hidden" name="Id" value="@Model?.Id" />
		<input type="hidden" asp-for="RowVersion" />
				
				<div class="row form-group">
                    <div class="col-md-3 text-md-right ">
                        <label asp-for="Email" class="col-form-label"></label>
                        <span class="text-danger">*</span>
                    </div>
						<div class="col-md-7">
								<input asp-for="Email" type="email" placeholder="abc@gmail.com" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>

	<div class="row form-group">	
		<div class="col-md-3 text-md-right ">
		</div>
        <div class="col-md-7">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Tải lại</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
	</div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
