@model MenuViewModel

@foreach (var item in Model.listMenu)
{
    if (item.Slug_Name == "trang-chu")
    {
        <li><a href="~/home">@item.Name</a></li>
    }
    else if (item.Slug_Name == "gioi-thieu")
    {
        <li><a href="~/@item.Slug_Name">@item.Name</a></li>
    }
    else if (item.Slug_Name == "dich-vu")
    {
        <li>
            <a href="~/@item.Slug_Name">@item.Name</a>
            <ul>
                @foreach (var dichvu in Model.listService)
                {
                    <li><a href="~/Service/ServiceDetail/@dichvu.Slug_Name">@dichvu.ServiceName</a></li>
                }
            </ul>
        </li>
    }
    else if (item.Slug_Name == "san-pham")
    {
        <li>
            <a href="~/@item.Slug_Name">@item.Name</a>
            <ul>
                @foreach (var cate in Model.listCategory)
                {
                    <li><a href="~/san-pham/loai-san-pham/@cate.Slug_Name">@cate.Name</a></li>
                }
            </ul>
        </li>
    }
    else if (item.Slug_Name == "dao-tao")
    {
        <li>
            <a href="#">@item.Name</a>
            <ul>
                @foreach (var daotao in Model.listTraining)
                {
                    <li><a href="~/@daotao.Slug_Name">@daotao.Name</a></li>
                }
            </ul>
        </li>
    }
    else if (item.Slug_Name == "tin-tuc")
    {
        <li>
            <a href="~/@item.Slug_Name">@item.Name</a>
            <ul>
                @foreach (var loaitintuc in Model.listNewsType)
                {
                    <li><a href="~/tin-tuc/loai-tin-tuc/@loaitintuc.Slug_Name">@loaitintuc.Name</a></li>
                }
            </ul>
        </li>
    }
    else if (item.Slug_Name == "lien-he")
    {
        <li><a href="~/@item.Slug_Name">@item.Name</a></li>
    }
}
