@model NewsCommentEditViewModel


@{
    ViewData["Title"] = "Bình Luận Tin Tức";
}


    <h4>Sửa Bình Luận</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Tải lại</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
    <input type="hidden" name="Id" value="@Model?.Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="FkNewsId" class="col-form-label">Tên tin tức</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <kendo-dropdownlist for="FkNewsId" class="form-control" bind-to="@ViewBag.Fk_NewsId" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="FkNewsId" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Name" class="col-form-label">Tên</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Name" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group slugName">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Email" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Email" class="k-textbox form-control slugtitle" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Phone" class="col-form-label">Số điện thoại</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Phone" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Comment" class="col-form-label">Bình luận</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Comment" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="IsRead" class="col-form-label">Đã xem</label>
        </div>
        <div class="col-md-7">
            <kendo-switch for="IsRead" checked="@Model?.IsRead" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="IsRead" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Tải lại</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="k-button">Chi tiết</a>
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

